<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#links">Links</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <a class="logo-lead-in">
                  <img src="img/logos/matter_logo_black.png" width="192" height="104">
                </a>
                <div class="intro-lead-in">PLASMA Ignis is Live!</div>
                <a href="https://ignis.thematter.io/#/login" class="page-scroll btn btn-xl">
                    See the Ignis Wallet Demo
                </a>
                <div>
                    <ul class="list-inline main-social-buttons">
                        <li>
                          <a href="https://github.com/matterinc/ignis">
                            <img src="img/icons/github_white.png" alt="GitHub" height="58" width="58">
                          </a>
                        </li>
                        <li>
                          <a href="https://ethresear.ch/t/quark-gluon-plasma-verified-plasma-chain-without-confirmation-signatures/3453">
                            <img src="img/icons/ethresearch_white.png" alt="EthResearch" height="70" width="70">
                          </a>
                        </li>
                    </ul>
                </div>
                <div class="intro-heading" style="margin: 0px 0px 0px 0px;">Our team is working on zk-SNARKs Plasma</div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
