<section id="links" style="padding-top:60px;padding-bottom:75px;background-color:#000; " data-animationappear="off" data-bg-color="#000">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p style="font-weight: 600; font-size: 14pt;">DOCUMENTS</p>
                <ul>
                  <li>
                    <h6 data-redactor-tag="span">Whitepaper</h6>
                    <a href="https://matterinc.github.io/whitepaper/short-explanation.pdf">White Paper</a>
                  </li>
                  <li>
                    <h6 data-redactor-tag="span">Documentation</h6>
                    <a href="https://github.com/matterinc/PlasmaContract#plasma-parent-contract">Plasma Parent Contract Info<br></a>
                    <a href="https://github.com/matterinc/plasma.js">Implementation RLP StructureWork with blocks on (DO) server</a>
                  </li>
                  <li>
                    <a href="https://matterinc.github.io/PlasmaSwiftLib/index.html" style="">Plasma API (Swift)</a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p style="font-weight: 600; font-size: 14pt;">TECHNOLOGY</p>
                <ul>
                  <li>
                    <h6 data-redactor-tag="span">Plasma client libraries</h6>
                    <a href="https://github.com/matterinc/plasma.js">Client library (JavaScript)<br></a>
                    <a href="https://github.com/matterinc/PlasmaSwiftLib">Client library (Swift)</a>
                  </li>
                  <li>
                    <h6 data-redactor-tag="span">Core</h6>
                    <a href="https://github.com/matterinc/PlasmaContract">Ethereum Plasma contract<br></a>
                    <a href="https://github.com/matterinc/PlasmaBlockCreator">Plasma block producer/Plasma Core/API<br></a>
                    <a href="https://github.com/matterinc/PlasmaManager">Plasma Manager<br></a>
                    <a href="https://github.com/matterinc/PlasmaBlockVerifier">Plasma Verifier<br></a>
                    <a href="https://github.com/matterinc/DeploymentTools">Plasma Deployment Tool<br></a>
                    <a href="https://ethresear.ch">zkSNARKs governed Plasma</a>
                  </li>
                  <li>
                    <a href="https://matterinc.github.io/PlasmaSwiftLib/index.html" style="">Plasma API (Swift)</a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p style="font-weight: 600; font-size: 14pt;">PRODUCTS</p>
                <ul>
                  <li>
                    <h6 data-redactor-tag="span">Plasma Web Wallet</h6>
                    <a href="https://github.com/matterinc/PlasmaWebUI">Source code (GitHub)<br></a>
                    <a href="https://plasma-testnet.thematter.io/">Wallet Live demo (Rinkeby)<br></a>
                    <a href="https://plasma-mainnet.thematter.io/">Wallet Live demo (Mainnet)<br></a>
                  </li>
                  <li>
                    <h6 data-redactor-tag="span">Plasma Block Explorer</h6>
                    <a href="https://github.com/matterinc/PlasmaWebExplorer">Source code (GitHub)<br></a>
                    <a href="https://plasma-explorer-testnet.thematter.io/">Block Explorer Live Demo (Rinkeby)<br></a>
                    <a href="https://plasma-explorer-mainnet.thematter.io/">Block Explorer Live demo (Mainnet)<br></a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <p style="font-weight: 600; font-size: 14pt;">SOCIAL</p>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/TheMatterInc">Facebook</a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/company/thematterio/">Linkedin</a>
                  </li>
                  <li>
                    <a href="https://github.com/matterinc">Github</a>
                  </li>
                  <li>
                    <a href="https://twitter.com/thematter_io">Twitter</a>
                  </li>
                  <li>
                    <a href="https://medium.com/@theMatter_io">Medium</a>
                  </li>
                  <li>
                    <a href="https://t.me/thematter_io">Telegram Announcement</a>
                  </li>
                  <li>
                    <a href="https://t.me/matter_io">Official Telegram Group<br></a>
                  </li>
                  <li>
                    <h6 data-redactor-tag="span">Contact us</h6>
                    <a href="mailto: hello@thematter.io">Email</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>
